@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
body, p, h1, h2, h3, h4, h5, h6, li, a, button {
    font-family: 'Roboto', sans-serif !important;
}
body {
    color: #1c1c1c;
}



/* css header */

.toolbar {
    width: 100%;
    background-color: #004457;
    color: white;
    display: table;
}

.back-to-home {
    background-color: transparent;
    border: 0px;
    border-right: white solid 1px;
    display: inline-block;
    width: 40px;
    height: 30px;
}

button.back-to-home:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.glyphicon {
    top: 0 !important;
}

.glyphicon-home {
    color: white;
    font-size: 14px;
    vertical-align: middle;
}

.profile-image, .locale-image {
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
}
.locale-menu, .user-menu {
    min-width:auto !important;
}

h3 {
    font-size: 14px;
    color: white;
    margin-left: 5px;
    margin-right: 10px;
    display: inline;
    vertical-align: middle;
    padding: 0px;
}

h2 {
    font-size: 28px;
    color: #1c1c1c;
    font-weight: 300;
    margin-top: 0px;
    line-height: 20px;
}

h4 {
    color: #818181;
    font-size: 14px;
    font-weight: 300;
}

time {
    color: #4da400;
}
time.running-out {
    color: #cc0000;
}

input[type=checkbox] + label {
    cursor: pointer;
}

label.review {
    height: 15px;
    display: inline-block;
    color: #818181;
    text-align: right;
    font-size: 14px;
    font-weight: 300;
}

    label.review::before {
        display: inline-block;
        content: ' ';
        width: 15px;
        height: 15px;
        border-radius: 3px;
        border: 1px solid #168fb2;
        background-color: white;
        margin-right: 10px;
        vertical-align: middle;
    }

input[type=checkbox]:checked + label.review::before {
    background-color: #168fb2;
    content: "\e013";
    color: white;
    font-family: 'Glyphicons Halflings';
    font-size: 10px;
    text-align: center;
    border-radius: 3px;
}


/* css sidebar */
aside {
    display: none;
    background-color: #e0e0e0;
    width: 150px;
    position: fixed;
    top: 140px;
    left: 20px;
    bottom: 100px;
    overflow-y: auto;
}

body.scenario aside {
    display: block;
}

body.scenario .content {
    left: 170px;
}

aside li.active {
    background-color: white;
    color: #1c1c1c;
    border-left: 5px solid #e0e0e0;
}

aside li {
    color: #1c1c1c;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

/* css content */

h5 {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

p {
    font-size: 16px;
    color: #1c1c1c;
    line-height: 170%;
}

.answers li {
    margin-top: 10px;
}

.answers label {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 400;
    vertical-align: middle;
    display: table;
}

/* css checkbox contenuto */

input[type=checkbox] {
    display: none;
}

label {
    height: 30px;
    display: inline-block;
}

    label:before {
        display: inline-block;
        content: ' ';
        width: 30px;
        height: 30px;
        border-radius: 3px;
        border: 1px solid #168fb2;
        background-color: white;
        margin-right: 10px;
        vertical-align: middle;
    }

input[type=checkbox]:checked + label::before {
    background-color: #168fb2;
    border-radius: 3px;
    content: "\e013";
    color: white;
    font-family: 'Glyphicons Halflings';
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

/* css contenuto drag&drop */

.drag-content {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

.drag-box {
    min-width: 150px;
    max-width: 420px;
    height: 440px;
}

h6 {
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 16px;
}

.drag-box button {
    margin: 6px;
}

.drag-source {
}

.drag-target {
}

/* css contenuto domanda codice */

.code {
    font-size: 14px;
    line-height: 40px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* css footer */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px;
    text-align: center;
}

.pagination {
    margin: auto;
}

    .pagination span {
        vertical-align: middle;
    }

    .pagination button {
        vertical-align: middle;
    }

.popover-source {
    display: none;
}

.questions-index {
    min-width: 185px;
}

    .questions-index button {
        min-width: 32px;
        min-height: 32px;
        display: inline-block;
        margin-bottom: 2px;
        margin-left: 0px !important;
        position: relative;
    }

        .questions-index button.marked::after {
            content: "\e013";
            color: white;
            font-family: 'Glyphicons Halflings';
            position: absolute;
            bottom: -2px;
            right: -4px;
            font-size: 9px;
            padding-top: 1px;
            background-color: #4da400;
            border-radius: 50%;
            width: 15px;
            height: 15px;
        }

.glyphicon-star {
    font-size: 40px;
    color: #e67e22;
}

    .glyphicon-star.half {
        position: relative;
    }

        .glyphicon-star.half:before {
            position: relative;
            z-index: 9;
            width: 47%;
            display: block;
            overflow: hidden;
        }

        .glyphicon-star.half:after {
            content: '\e006';
            position: absolute;
            z-index: 8;
            color: #bdc3c7;
            top: 0;
            left: 0;
        }

/* Module-specific rules */
.module-login {
    background-color: #f5f5f5;
}


.module-questions .summary {
    width: 100%;
    position: fixed;
    top: 40px;
    padding:18px;
    display: table;
}


.module-questions .question {
    position: fixed;
    top: 120px;
    bottom: 100px;
    padding: 20px;
    overflow-y: auto;
}
.module-exams .content {
    position: fixed;
    top: 60px;
    bottom: 0;
    padding: 20px;
    overflow-y: auto;
}

.examlist li {
    width: 240px;
    height: 460px;
    border: 1px solid #555;
    background-color: #fff;
    position:relative;
}
.examlist footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    margin-bottom:0;
    padding: 5px;
}
.examlist footer button {
    display:block;
}
.examlist figure {
    display:block;
    height: 150px;
    position: relative;
}
.examlist img {
    width: 100%;
    height:150px;
}
.examlist figcaption {
    font-size: 18px; 
    text-align: center;
    color:#fff;
    background-color:rgba(0,0,0,0.2);
    font-weight: 300 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.examlist header {
    background-color: #f5f5f5;
    padding-top: 5px;
    padding-bottom: 5px;
}
.examlist header p {
    padding-top:0;
    padding-bottom:0;
    margin-top: 0;
    margin-bottom: 0;
    color:#818181;
    text-align:center;
    font-size:12px;
}
.examlist .exam-mark {
    height: 150px;
    margin-top: 10px;
    position: relative;
}
.examlist .exam-mark.excellent {
    background-image: url('/images/laurelwreath-excellent.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.examlist .exam-mark.welldone {
    background-image: url('/images/laurelwreath-welldone.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.examlist .exam-mark.passed::before {
    width:125px;
    height:125px;
    border-radius: 50%;
    border: 3px solid #4da400;
    position:absolute;
    pointer-events:none;
    margin:auto;
    top:3px;
    content:'';
    left:55px;
}
.examlist .exam-mark.passed * {
    color: #4da400;
}
.examlist .exam-mark.notpassed::before {
    width:125px;
    height:125px;
    border-radius: 50%;
    border: 3px solid #cc0000;
    position:absolute;
    pointer-events:none;
    margin:auto;
    top:3px;
    content:'';
    left:55px;
}
.examlist .exam-mark.notpassed * {
    color: #cc0000;
}
.examlist .exam-mark.incomplete::before {
    width:100%;
    height:200px;
    position:absolute;
    pointer-events:none;
    margin:auto;
    top:3px;
    content:'';
    left:55px;
}
.examlist .exam-mark.incomplete * {
    color: #bdc3c7;
}


.examlist .exam-mark-value {
    font-size:70px;
    text-align:center;
    display:block;
    position:absolute;
    top:15px;
    left:0;
    right:0;
}
.examlist .exam-mark-comment {
    font-size:12px;
    text-align: center;
    display:block;
    position:absolute;
    top: 80px;
    left:0;
    right:0;
}

.examlist li {
    box-shadow: 0 0 10px #888;
}

.module-login .modal-dialog {
    margin-top:100px;
}

.content {
    width:100%;
}

.examlist {
    margin: auto;
    display: table;
}
.examlist .exam-title {
    display: block;
}
.examlist .exam-subtitle {
    display: block;
    font-size: 11px;
}
.examlist li {
    padding:0 !important;
    margin: 10px;
}


@keyframes zoomin {
    from{transform: scale(0); }
    to {transform: scale(1);}
}

.exam-mark.animated {

    animation-name: zoomin;
    animation-duration: 1s;
}


/* Bootstrap overrides */
.navbar-default { min-height:auto; }
.navbar-text { margin-top:4px; margin-bottom: 0; margin-left:5px; }
.navbar-nav>li>a { padding-top:2px; padding-bottom:2px; border:0; }
.margin-top { margin-top:2px; }
.dropdown-toggle {
    padding: 2px;
    padding-right: 15px;
}
.navbar-nav>li>a.back-to-home {
    padding-top: 6px;
    padding-bottom: 28px;
    padding-right: 30px;
    display: inline-block;
}
.navbar .container-fluid {
    padding-left:0;
}
.modal-header {
    background-color:#168fb2;
}
.modal-header h4 {
    color: white;
}

.navbar-nav {
    margin:0;
}
.navbar-right {
    float: right !important;
    margin-right: -15px;
}
.navbar-text {
    float: left !important;
}
